@font-face {
  font-family: "WorkSans-Thin";
  src: url("https://cdn.glitch.com/7e4ba97d-f66b-44b0-b1bb-c15b9bff9c34%2FWorkSans-Thin.ttf?v=1614933649112");
}

@font-face {
  font-family: "WorkSans-Light";
  src: url("https://cdn.glitch.com/7e4ba97d-f66b-44b0-b1bb-c15b9bff9c34%2FWorkSans-Light.ttf?v=1614933591398");
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("https://cdn.glitch.com/7e4ba97d-f66b-44b0-b1bb-c15b9bff9c34%2FWorkSans-Regular.ttf?v=1614933604719");
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("https://cdn.glitch.com/7e4ba97d-f66b-44b0-b1bb-c15b9bff9c34%2FWorkSans-Medium.ttf?v=1614933625761");
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("https://cdn.glitch.com/7e4ba97d-f66b-44b0-b1bb-c15b9bff9c34%2FWorkSans-Bold.ttf?v=1614933674590");
}

@font-face {
  font-family: "Avenir";
  src: url("font/Avenir.ttc")format("ttc");
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("font/Nunito-Regular.ttf")format("ttf");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("font/Nunito-Bold.ttf")format("ttf");
}

body {
  background-color: #dbf0f9;
  background-image:  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 20px;
  transition: 0.5s;
  text-align: center;
}

/* haneul.html */
/* Title */
#title {}

.navbar {
  padding: 1% 3%;
}

.clicked {
  cursor: pointer;
  text-shadow: white 0 0 5px, white 0 0 10px, white 0 0 0.2rem;
}

.navbar-brand {
  font-family: "WorkSans-Medium", sans-serif;
}

.nav-item {
  padding-left: 4vw;
}

.nav-link {
  font-family: "WorkSans-Light", sans-serif;
  transition: 0.5s;
}

/* Content */
#content {}

.container-fluid {
  padding: 120px 1.5%;
}

h2 {
  font-family: "WorkSans-Light", sans-serif;
  line-height: 1.5;
}

/* Introduction */
.colorful {
  margin-top: 2%;
  padding: 2% 0 0% 0;
  animation: Colorful 0.5s ease-out infinite;
}

@keyframes Colorful {
  0% {
    color: #d36290;
  }

  25% {
    color: #773144;
  }

  50% {
    color: #241c5c;
  }

  75% {
    color: #772144;
  }

  100% {
    color: #d36290;
  }
}

.profile {
  margin-top: 4%;
}

.profile-image {
  width: 180px;
  height: auto;
  transition: 0.5s;
}

.plain {
  font-family: "WorkSans-Regular";
  margin-top: 4%;
  padding: 0% 40px 0% 40px;
  font-size: 18px;
  line-height: 1.6;
}

/* Information */
.category {
  padding: 1% 0% 0% 0%;
}

.collapsible {
  border: none;
  margin: 8vw 2vw 8vw 2vw;
  padding: 2.5% 5%;
  border-radius: 20px;
  transition: 0.5s;
  align-items: center;
  outline: none;
  text-align: justify;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "WorkSans-Light", sans-serif;
  color: black;
}

.active, .collapsible:hover {
  background-color: white;
  background-position: right center;
  text-decoration: none;
}

.collapsible:hover {
  text-shadow: white 0 0 5px, white 0 0 10px, white 0 0 0.2rem;
}

.greenGradient {
  background-image: linear-gradient(to right, #12FFF7 0%, #92FE9D 50%);
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  cursor: pointer;
}

.blueGradient {
  background-image: linear-gradient(to right, #B3FFAB 0%, #12FFF7 50%);
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  cursor: alias;
}

@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}

.info {
  padding: 0% 40px 0% 40px;
  font-size: 18px;
  line-height: 1.4;
  text-align: justify;
  justify-content: center;
  display: none;
  overflow: hidden;
}

/* technologist.html */
/* Work */
#work {}

h4 {
  font-family: "WorkSans-Light";
  line-height: 1.4;
}

h5 {
  font-family: "WorkSans-Regular";
  line-height: 1.2;
}

#project-carousel {
  margin: 0;
  border: 0;
  padding: 0;
}

.carousel-item {
  padding: 0% 10%;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-shadow: white 0 0 5px, white 0 0 10px, white 0 0 0.2rem;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#footer {
  position: relative;
  padding: 1% 3%;
}

/* artist.html */
/* Carousel */
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 20;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.carousel {
  position: relative;
  padding-top: 70%;
  transition: 0.5s;
  filter: drop-shadow(0 0 10px #0003);
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}
